<!-- app/views/site_admin/tags/index.html.erb -->
<div class="container mt-5">
  <h2>タグ管理</h2>
  <% if @tags.any? %>
    <div class="row">
      <% @tags.each do |tag| %>
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= tag.name %></h5>
              <div class="d-flex justify-content-between">
                <%= link_to '編集', edit_site_admin_tag_path(tag), class: 'btn btn-primary' %>
                <%= link_to '削除', site_admin_tag_path(tag), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-center">タグがありません。</p>
  <% end %>

  <%= link_to '新しいタグを追加', new_site_admin_tag_path, class: 'btn btn-primary mt-4' %>
</div>